@charset "utf-8";


#calenderTable {
    background-color: rgb(231, 231, 231); 
    font-size: 0.9em; 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    width: 100%;

    box-shadow: rgb(51, 51, 51) 0px 0px 1px,
               rgb(51, 51, 51) 0px 0px 5px, 
               rgb(51, 51, 51) 0px 0px 10px,
               rgb(51, 51, 51) 0px 0px 20px; 
}

#calenderWeekdays{
    background-color: ivory;
    width: 14.28%; 
    font-size: 1em; 
    border-bottom: 3px solid gray;
}

.calenderDates{
    text-align: left; 
    vertical-align: top;
    font-size: 0.8em;
    padding: 3px;
    border: 1px dotted gray;
    background-color: white;
    height: 60px;
}

#calenderToday{
    font-weight: bold; 
    color: rgb(51, 51, 51);
    background-color: rgb(251, 203, 176);
    border: 1px solid black;
}